    
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    
    /* Remove the navbar's default margin-bottom and rounded borders */
    body{
        background-color: rgba(0, 0, 0, 0.89);
    }

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }
    .container-fluid{
        height: 80px;
        display: flex;
        align-items: center;
      
    }
    #myNavbar{
    width: 100%;
    margin-left: 20px;
    display: flex;    
   
}
    .jumbotron{
        height: 91vh;
        padding: 420px ;
        background-image: url('/frontend/images/bkg.jpg');
        background-size: cover;     
        color: aliceblue;  
        align-self: center;
    }
    .mensagem{
        background-color: rgba(19, 17, 17, 0.692);
        padding: 30px;
        border-radius: 15px;
    }
    .conteudo{
        width: 100vw;
        height: 85.6vh;
        display: flex;
        background-color: rgb(60, 60, 71);
      
    }
    .sidebar{ 
        margin: 10px;
        width: 20%;  
        color: aliceblue;        
       
    }
    .main{  
        width: 60%;
        margin: 10px;
       
    }
    /*meio do site*/
    .main-title{    
        color: aliceblue;
    }
    .main-text{       
        color: aliceblue;
        font-size: larger;
    }
    .principais{
        display: flex;
    }
    .video{
        margin: 5px;
        border-radius: 10px;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0f0e0ee5;
        padding: 40px;
        color: aliceblue;
    }
.developer{
    font-size: 20px;
    font-weight: lighter;
}
.developer a{
    text-decoration: none;
    font-family: cursive;

}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  

/*Letreiro animado teste*/
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Anton", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 10s infinite alternate;
	stroke-width: 2;
	stroke: #B3AE17;
	font-size: 30px;
    text-shadow: 1px 2px rgb(27, 59, 245);
}
@keyframes stroke {
	0%   {
		fill: rgba(179,174,23,0); stroke: rgba(179,174,23,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(179,174,23,0); stroke: rgba(179,174,23,1); }
	80%  {fill: rgba(179,174,23,0); stroke: rgba(179,174,23,1); stroke-width: 3; }
	100% {
		fill: rgba(179,174,23,1); stroke: rgba(179,174,23,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


/*pagina de Galeria*/
.container{
    width: 100%;
    height: 82vh;   
    display: flex;
    flex-direction: column;
    color: azure;
    

}
.galeria{
    display: inline-flex;   
    gap: 15px;
    margin: 10px 20px 10px 20px;

}

.video_wrapper{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}